body {
  padding-left: 200px;
}
header {
  width: 960px;
  height: 100px;
  margin: auto;
  position: relative;
}
section {
  position: relative;
}
#board {
  background: url('./assets/Blocks/BackgroundTile.png');
  background-repeat: repeat;
  position: absolute;
  width: 960px;
  height: 640px;
  margin: auto;
}

.tile {
  display: inline-block;
  float: left;
  position: relative;
  width: 32px;
  height: 32px;

  &.empty {
    background: url('./assets/Blocks/BackgroundTile.png');
    background-size: 100%;
  }

  &.wall {
    background: url('./assets/Blocks/SolidBlock.png');
    background-size: 100%;
  }

  &.solidTile {
    background: url('./assets/Blocks/Portal.png');
    background-size: 50%;
  }

  &.brick {
    background: url('./assets/Blocks/ExplodableBlock.png');
    background-size: 100%;
  }
}

#objects {
  position: absolute;
  width: 960px;
  height: 640px;
  margin: auto;
}

.flags {
  position: absolute;
  width: 32px;
  height: 32px;

  &.flag1 {
    background: url('./assets/green-flag.png');
    background-size: 100%;
  }

  &.flag2 {
    background: url('./assets/red-flag.png');
    background-size: 100%;
  }
}

.players {
  position: absolute;
  width: 32px;
  height: 32px;

  &.player1 {
    //background-color: red;
    &.up {
      background: url('./assets/Bomberman/Back/Bman_B_f01 copy.png');
      background-repeat: no-repeat;
    }
    &.down {
      background: url('./assets/Bomberman/Front/Bman_Front copy.png');
      background-repeat: no-repeat;
    }
    &.right {
      background: url('./assets/Bomberman/Side/Bman_F_f01 copy.png');
      background-repeat: no-repeat;
    }
    &.left {
      background: url('./assets/Bomberman/Side/Bman_left copy.png');
      background-repeat: no-repeat;
    }
  }

  &.player2 {
    &.up {
      background: url('./assets/Creep/Back/Creep_B_f01.png');
      background-repeat: no-repeat;
    }

    &.down {
      background: url('./assets/Creep/Front/Creep_F_f01.png');
      background-repeat: no-repeat;
    }

    &.right {
      background: url('./assets/Creep/Side/Creep_S_f00.png');
      background-repeat: no-repeat;
    }

    &.left {
      background: url('./assets/Creep/Side/left copy.png');
      background-repeat: no-repeat;
    }
  }
}
