body {
  padding-left: 200px;
  background-image: url('./assets/bmanWall.jpg');
  background-repeat: repeat;
  font-family: monospace;
}

header {
  text-align: center;
  width: 956px;
  height: 100px;
  position: relative;
  border: 2px solid #3e4055;
  margin-bottom: 10px;
  background-color: #3e4055;
  border-radius: 20px;
  box-shadow: 5px 5px 0 #3a3535;

  > button {
    display: block;
    background: cornsilk;
    border-radius: 8px;
    padding: 5px;
    text-transform: uppercase;
    font-family: monospace;
    margin-left: 430px;
    margin-top: 20px;
  }

  > span {
    font-size: 50px;
    text-transform: uppercase;
    text-shadow: -4px 2px coral;
  }
}

.highlight {
  background-color: rgba(255, 255, 0, 0.44);
}

.bombs {
  img {
    width: 32px;
  }

  span {
    color: coral;
    text-transform: uppercase;
    font-size: 20px;
  }
}

.bombs-p1 {
  float: left;
}

.bombs-p2 {
  float: right;
}

section {
  position: relative;
}

#board {
  background: url('./assets/Blocks/BackgroundTile.png');
  background-repeat: repeat;
  position: absolute;
  width: 960px;
  height: 640px;
  margin: auto;
}

.tile {
  display: inline-block;
  float: left;
  position: relative;
  width: 32px;
  height: 32px;

  &.empty {
    background: url('./assets/Blocks/BackgroundTile.png');
    background-size: 100%;
  }

  &.wall {
    background: url('./assets/Blocks/SolidBlock.png');
    background-size: 100%;
  }

  &.solidTile {
    background: url('./assets/Blocks/Portal.png');
    background-size: 50%;
  }

  &.brick {
    background: url('./assets/Blocks/ExplodableBlock.png');
    background-size: 100%;
  }
}

#objects {
  position: absolute;
  width: 960px;
  height: 640px;
  margin: auto;
}

.flags {
  position: absolute;
  width: 32px;
  height: 32px;

  &.flag1 {
    background: url('./assets/green-flag.png');
    background-size: 100%;
  }

  &.flag2 {
    background: url('./assets/red-flag.png');
    background-size: 100%;
  }
}

.players {
  position: absolute;
  width: 32px;
  height: 32px;

  &.player1 {
    //background-color: red;
    &.up {
      background: url('./assets/Bomberman/Back/Bman_B_f01 copy.png');
      background-repeat: no-repeat;
    }

    &.down {
      background: url('./assets/Bomberman/Front/Bman_Front copy.png');
      background-repeat: no-repeat;
    }

    &.right {
      background: url('./assets/Bomberman/Side/Bman_F_f01 copy.png');
      background-repeat: no-repeat;
    }

    &.left {
      background: url('./assets/Bomberman/Side/Bman_left copy.png');
      background-repeat: no-repeat;
    }
  }

  &.player2 {
    &.up {
      background: url('./assets/Creep/Back/Creep_B_f01.png');
      background-repeat: no-repeat;
    }

    &.down {
      background: url('./assets/Creep/Front/Creep_F_f01.png');
      background-repeat: no-repeat;
    }

    &.right {
      background: url('./assets/Creep/Side/Creep_S_f04.png');
      background-repeat: no-repeat;
      background-size: contain;
    }

    &.left {
      background: url('./assets/Creep/Side/left.png');
      background-repeat: no-repeat;
      background-size: 75%;
    }
  }
}

.winDiv {
  top: 220px;
  left: 235px;
  position: absolute;
  height: 200px;
  width: 500px;
  background-color: #496d4d;
  text-align: center;
  border: 1px solid #496d4d;
  border-radius: 35px;

  > span {
    color: coral;
    text-transform: uppercase;
    display: block;
    margin-top: 60px;
    font-size: 50px;
  }
}
